<app-header></app-header>
<!-- sub Header-->
<div class="hero">
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="hero__mask"></div>
  <div class="hero__inner">
    <div class="container">
      <div class="hero__content">
        <div class="hero__content__inner" id='navConverter'>
          <h1 class="hero__title">A production-ready theme for your projects</h1>
          <p class="hero__text"></p>
          <form>
            <div class="double">
              <div class="half">
                <label for="first">First</label>
                <input type="text" id="first" placeholder="Type...">
              </div>
              <div class="half">
                <label for="second">Last</label>
                <input type="text" id="second" placeholder="Type...">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
