<app-header></app-header>
<div class="hero">
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="hero__mask"></div>
  <div class="hero__inner">
    <div class="container">
      <div class="hero__content">
        <div class="hero__content__inner" id='navConverter'>
          <h1 class="hero__title">Searching repositories</h1>
          <p class="hero__text">You can search for repositories globally across all of GitHub, or search for a particular repository or organization.</p>
          <form>
            <p class="row pull-left">
              <input type="checkbox" id="check" checked/>
              <label for="check">All repositories</label>
            </p>
            <div class="double">
              <div class="half">
                <label for="owner">Owner</label>
                <input type="text" id="owner" placeholder="Type...">
              </div>
              <div class="half">
                <label for="repo">Repository</label>
                <input type="text" id="repo" placeholder="Type...">
              </div>
            </div>
            <button class="button button__accent">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
